html {
    font-size: 67.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: #000000d8;
    border-radius: 60px;
  }

  .calculator {
    border: 1px solid #ccc;
    border-radius: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(0, 0, 0);
  }

  .calculator-screen {
    border-radius: 27px;
    width: 100%;
    font-size: 5rem;
    height: 100px;
    border: none;
    background-color: #000000;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 80px;
  }

  button {
    height: 60px;
    background-color: rgba(5, 5, 5, 0.315);
    border-radius: 12px;
    border: 1px solid orange;
    background-color: transparent;
    font-size: 2rem;
    color: rgba(250, 250, 250, 0.829);
    text-shadow: 0 1px rgba(255, 255, 255, 0.288);
    box-shadow: 0 5px orange;
    cursor: pointer;
  }
  
  button:active{
    transform: translateY(7px);
    box-shadow: 0 5px rgb(175, 119, 15);
  }

  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: #337cac;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .equal-sign {
    background-color: orange;
    border-color: rgba(163, 107, 3, 0.842);
    color: #fff;
    height: 100%;
    grid-row-start: 6;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
  }